@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}
.viewport-header {
    font-family: 'Open Sans', sans-serif;
    color: white;
    position: relative;
    height: 20vh;
    width: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}
.viewport-header span{
    font-size: 6vh;
}
.buttons{
    margin-top: 5vh;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-flow: wrap;
}
.airmeet-btn{
    background-color: #1a73e8;
    padding: 15px;
    margin: 15px;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-family: sans-serif;
}
@media only screen and (max-width: 360px) {
    .airmeet-btn{
        margin: 30px;
    }
}
